@font-face {
    font-family: "NeutralFace";
    src: url(../fonts/NeutralFace-Bold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "NeutralFace";
    src: url(../fonts/NeutralFace.otf) format("opentype");
    font-weight: 400;
}

:root {
    --accent-font-color: #3341F1;
    --main-footer-height: 490px;
    --main-header-height: 100px;
    /*--main-elem-margin-top: 140px;*/
    /*--main-footer-margin-top: 140px;*/
}

body {
    min-height: 100vh;
    background-color: #EEF0F2;
}

.container {
    width: 1500px;
    max-width: 1500px !important;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}



main {
    min-height: calc(100vh - var(--main-footer-height) - var(--main-header-height));
}